/* bon j'ai essayé de faire en sorte que la page s'adapte à la taille du navigateur j'ai essayé de faire de mon mieux UwU */




@font-face{
	font-family:"coolvetica";
	src: url("coolvetica.ttf");
}







body{
	background-color: #232C41; 
	background-image: url(motif.png);
	background-size: 40%;
	padding:75px;
	text-align : left;
	font-family: 'coolvetica', sans-serif;
    margin: 0px;
    padding: 0px;
	color:#B6B6B6;

}



header{
	padding-right:2vw;
	padding-bottom: 2vw;
	display: grid;
	background: rgba(66,83,123,.5);
	
	grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1vw 4vw;
	
	
}


img.picReset{
	padding-top: 3vw;
	padding-right: 20vw;
	height: 30%;
	width: 30%;
	float: right;
}

img.picCustom{
	padding-top: 3vw;
	padding-left:20vw;
	padding-bottom: 3vw;
	height: 30%;
	width: 30%;
	float: Left;
}


img.logo{
	grid-row: 1/3;
	float: left;
	padding: 10px;
	border-radius: 50%;
	width:5vw;
	height:5vw;
}


.texte{
	padding-left: 25vw;
	padding-right: 25vw;
	color : #B6B6B6;
	padding-top: 2vw;
	font-size: 20px
}



.nomBot{
	padding: 10px;
	grid-row: 1/3;
	color : #E1E1E1;
	font-size: 0.8vw;
	padding-bottom: 40vw;
}



.menuLien{
	margin-top: 35px;
	grid-row: 1/3;
	padding: 10px;
	color : #E1E1E1;
	font-size: 1vw;
	transition: background-color 0.3s;
	
}


.menuLien:hover{
	color : #E1E1E1;
	background-color:#506699 ;
}


.botCommands{
	padding-left: 2vw;
}


s{
	font-family: 'coolvetica', sans-serif;
}



table{
	border: 2px solid #B6B6B6;
}

td{
	border: 2px solid #B6B6B6;
}

.lien{
	padding-left: 2vw;
	color:#829eff;
}

.discord{
	padding-left: 2vw;
	color:#829eff;
}

.lien:hover{
	color:white;
}

.youWant{
	text-align: center;
	font-size: 60px;
}