/* bon j'ai essayé de faire en sorte que la page s'adapte à la taille du navigateur j'ai essayé de faire de mon mieux UwU */




@font-face{
	font-family:"coolvetica";
	src: url("../autres/coolvetica.ttf");
}







body{
	background-color: #232C41; 
	background-image: url(../images/motif.png);
	background-size: 40%;
	padding:75px;
	text-align : left;
	font-family: 'coolvetica', sans-serif;
    margin: 0px;
    padding: 0px;
	color:#B6B6B6;

}



header{
	padding-right:2vw;
	padding-bottom: 2vw;
	display: grid;
	background: rgba(66,83,123,.5);
	
	grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1vw 4vw;
	margin: 0;
	
	
}


img.picReset{
	padding-top: 3vw;
	padding-right: 20vw;
	height: 30%;
	width: 30%;
	float: right;
}

img.picCustom{
	padding-top: 3vw;
	padding-left:20vw;
	padding-bottom: 3vw;
	height: 30%;
	width: 30%;
	float: Left;
}


img.logo{
	grid-row: 1/3;
	float: left;
	padding: 10px;
	width:5vw;
	height:5vw;
}



.texte{
	text-align: center;
	color : #B6B6B6;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 1vw;
	font-size: 22px;
}

.texteTest{
	text-align: center;
	color : #B6B6B6;
	padding-top: 15vw;
	padding-left: 10%;
	padding-right: 60%;
	font-size: 22px;
}



/*
.banner{
	background:url(../images/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-right: 10vw;
	padding-left: 10vw;
	border-radius: 30%;

}
*/
.nomBot{
	padding: 10px;
	grid-row: 1/3;
	color : #E1E1E1;
	font-size: 0.8vw;
	padding-bottom: 40vw;
	margin: 0;
}



.menuLien{
	margin-top: 35px;
	grid-row: 1/3;
	padding: 10px;
	color : #E1E1E1;
	font-size: 1vw;
	transition: background-color 0.3s;
	
	
}


.menuLien:hover{
	color : #E1E1E1;
	background-color:#506699 ;
}


.botCommands{
	padding-left: 2vw;
}


s{
	font-family: 'coolvetica', sans-serif;
}



table{
	border: 2px solid #B6B6B6;
}

td{
	border: 2px solid #B6B6B6;
}

.lien{
	padding-left: 2vw;
	color:#829eff;
}

.discord{
	padding-left: 2vw;
	color:#829eff;
}

.lien:hover{
	color:white;
}

.imageUn{
	float: right;
	margin: 0;
	width:50%;
	height:50%;
}


.youWant{
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 70px;
	background: rgba(51, 65, 97, 0.3);
	margin: 0;
}